[submodule "naemon-core"]
	path = naemon-core
	url = https://github.com/naemon/naemon-core.git
[submodule "naemon-livestatus"]
	path = naemon-livestatus
	url = https://github.com/naemon/naemon-livestatus.git
