Source: naemon
Section: net
Priority: optional
Maintainer: Naemon Core Development Team <naemon-dev@monitoring-lists.org>
Build-Depends: debhelper (>= 9), fakeroot, make, apache2
Standards-Version: 3.7.3
Homepage: https://www.naemon.io
Bugs: https://github.com/naemon/naemon/issues
Vcs-Browser: https://github.com/naemon
Vcs-Git: git://github.com:naemon/naemon.git

Package: naemon
Architecture: any
Depends: adduser,
         coreutils (>= 4.5.3),
         lsb-base (>= 3.0-6),
         naemon-core (>= ${binary:Version}),
         naemon-livestatus (>= ${binary:Version}),
         naemon-vimvault (>= ${binary:Version}),
         naemon-thruk (= ${binary:Version}),
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends}
Recommends: nagios-plugins
Description: A host/service/network monitoring and management system
 Naemon is a monitoring and management system for hosts, services and
 networks.
 .
 Naemon features include:
 .
  *  Monitoring of network services (via TCP port, SMTP, POP3, HTTP, NNTP,
     PING, etc.)
  *  Plugin interface to allow for user-developed service checks
  *  Contact notifications when problems occur and get resolved (via email,
     pager, or user-defined method)
  *  Ability to define event handlers to be run during service or host events
     (for proactive problem resolution)
  *  Web output (current status, notifications, problem history, log file, etc.)
 .
 Naemon was written in C and is designed to be easy to understand and modify
 to fit your own needs.
 .
 Upstream URL: https://www.naemon.io/

Package: naemon-thruk
Architecture: any
Depends: thruk, ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Description: Thruk is a web gui for Naemon
 Naemon is a monitoring and management system for hosts, services and
 networks.

